<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false"
      (openedStart)="onOpenedStart()"
      (closedStart)="onClosedStart()">
    <mat-toolbar>
      <span>{{ 'main-nav.menu-title' | translate }}</span>
    </mat-toolbar>
    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems">
        <a mat-list-item routerLink="{{item.path}}" [routerLinkActive]="['is-active']">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>&nbsp;{{ item.title | translate }}</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <ng-container *ngTemplateOutlet="toggleMenuBtn"></ng-container>
      <span>{{ 'main-nav.app-name' | translate }}</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #toggleMenuBtn>
  <button [@toggleMenu]="(isSideBarOpen | async) ? 'open' : 'close'"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">
      {{ (isSideBarOpen | async) ? 'close' : 'menu' }}
    </mat-icon>
  </button>
</ng-template>
